
<app-gst-widget-header [iconName]="'pencil'" [headingContent]="'Edit Organisation Details'"></app-gst-widget-header>
<div class="edit-container">
    <form [formGroup]="editForm" (ngSubmit)="onSubmitEditForm(editForm)">
        <div class="form-group row">
            <label for="companyName" class="col-2 col-form-label">Your Company Name*</label>
            <div class="col-5">
                <span [ngClass]="{
                    'input-error': editForm.controls.companyName.invalid && (editForm.controls.companyName.touched || editForm.controls.companyName.dirty)
                }">
                    <input type="text" class="form-control form-control-sm" formControlName="companyName" id="companyName" placeholder="Enter your company name">
                </span>

                <div *ngIf="editForm.controls.companyName.invalid && (editForm.controls.companyName.touched || editForm.controls.companyName.dirty)">
                    <span *ngIf="editForm.controls.companyName.errors?.required" class="text-danger">Please enter your organisation name</span>
                </div>

            </div>
            
        </div>
        <div class="form-group row">
            <label for="inputCompanyType" class="col-2 col-form-label">Your Company Type </label>
            <div class="col-5">
                <select name="" id="" formControlName="companyType" class="form-control form-control-sm">
                    <option value="">Your Company Type</option>
                    <option value="ct" *ngFor='let ct of companyType'>{{ct}}</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPan" class="col-2 col-form-label">PAN Number </label>
            <div class="col-5">
                <input type="text" class="form-control form-control-sm" formControlName="panNumber" id="inputPan" placeholder="Enter you PAN number">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputGst" class="col-2 col-form-label">GSTIN </label>
            <div class="col-5">
                <input type="text" class="form-control form-control-sm" formControlName="gstNmber" id="inputGst" placeholder="Enter your gst no">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputAddress1" class="col-2 col-form-label">Address Line 1* </label>
            <div class="col-5">
                <input type="text" class="form-control form-control-sm" formControlName="addressLine1" id="inputAddress1" placeholder="Enter address line 1">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputAddress2" class="col-2 col-form-label">Address Line 2 </label>
            <div class="col-5">
                <input type="text" class="form-control form-control-sm" formControlName="addressLine2" id="inputAddress2" placeholder="Enter address line 2">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPinCode" class="col-2 col-form-label">PinCode* </label>
            <div class="col-5">
                <input type="text" class="form-control form-control-sm" formControlName="pinCode" id="inputPinCode" placeholder="Enter your pincode">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputState" class="col-2 col-form-label">State </label>
            <div class="col-5">
                <select name="" id="" formControlName="state" class="form-control form-control-sm">
                    <option value="">Select State</option>
                    <option value="" *ngFor="let state of states">{{state}}</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputCity" class="col-2 col-form-label">City* </label>
            <div class="col-5">
                <input type="text" class="form-control form-control-sm" formControlName="city" id="inputCity" placeholder="Enter your city">
            </div>
        </div>
        <div class="btnContainer">
            <app-button [btnText]="'Save'" (click)="onSubmitEditForm(editForm)" [btnIcon]="'save'" [btnClass]="'btn btn-primary'"></app-button>
            <app-button [btnText]="'Back'" (click)="backToSettings()" [btnIcon]="'chevron-left'" [btnClass]="'btn-secondary'"></app-button>
        </div>

    </form>
</div>