<div class="modal-body">
    <div class="row">
        <div class="text-center col-12 col-md-6">
            <div class="modalBorder">
                <div class="row">
                    <div class="col-12">
                        <div class="plan-title-grey">
                            Premium 1 Year
                        </div>
                        <div class="plan-price-grey">
                            <i class="fa fa-inr"> 999 </i>
                            <div class="fontSizing">1 Year</div>
                        </div>
                        <div class="detailsContainer">
                            <div class="modalOfferContent">
                                <p class="pt-3"><strong> No Advertisement
                                    </strong></p><hr>
                                <p><strong> Custom Designed Header </strong></p><hr>
                                <p><strong> Email PDF Invoices / Documents
                                    </strong></p><hr>
                                <p><strong> Download PDF Invoices </strong></p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="btn-upgrade-now">
                <app-button [btnText]="'Upgrade Now'" [btnClass]="'btn-upgrade mt-3 mb-3'"></app-button>
            </div>
        </div>

        <div class="text-center col-12 col-md-6">
            <div class="modalBorder">
                <div class="row">
                    <div class="col-12">
                        <div class="plan-title-green">
                            Premium 3 Year
                        </div>
                        <div class="plan-price-green">
                            <i class="fa fa-inr"> 1999 </i>
                            <div class="fontSizing">3 Year</div>
                        </div>
                        <div class="detailsContainer">
                            <div class="modalOfferContent">
                                <p class="pt-3"><strong> No Advertisement
                                    </strong></p><hr>
                                <p><strong> Custom Designed Header </strong></p><hr>
                                <p><strong> Email PDF Invoices / Documents
                                    </strong></p><hr>
                                <p><strong> Download PDF Invoices </strong></p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="btn-upgrade-now">
                <app-button [btnText]="'Upgrade Now'" [btnClass]="'btn-upgrade mt-3 mb-3'"></app-button>
            </div>
        </div>
    </div>
</div>