<div class="total-invoice">
        <app-gst-widget-container [headingContent]="'Total Invoice - September 2018'"></app-gst-widget-container>
          <div class="widget-content row m-0">
            <div class="widget-content-rightBorder col-6 text-center">
                <span>
      
                </span>
                <span>
      
                </span>
                <span>
                    Total Sales Invoice
                </span>
            </div>
      
           <div class="col-6 text-center">  
                Total Purchase Invoice
           </div> 
          </div>
      </div>
      