<app-gst-widget-header [iconName]="'bookmark'" [headingContent]="'Total Invoice - September 2018'"></app-gst-widget-header>
<div class="total-invoice">
          <div class="widget-content row m-0">
            <div class="widget-content-rightBorder col-6 text-center mt-3 mb-3">
                <div>
                    <i class="fa fa-print"></i>
                </div>
                <div class="value">
                    <strong>0</strong>
                </div>
                <div class="contentFont">
                    Total Sales Invoice
                </div>
            </div>
      
            <div class="col-6 text-center mt-3 mb-3">  
                <div>
                    <i class="fa fa-print"></i>
                </div>
                    <div class="value">
                        <strong>0</strong>
                    </div>
                    <div class="contentFont">
                            Total Purchase Invoice
                    </div>
                 </div> 
          </div>
      </div>
      