<div class="add-new-comp">
  <div class="widget-header">
    <app-gst-widget-header [iconName]="'pencil'" [headingContent]="'Add
      Product'"></app-gst-widget-header>
  </div>
  <div class="widget-content">
    <form [formGroup]="addProductForm" (ngSubmit)="onSubmitAddProductForm(addProductForm)">
      <div class="form-group row">
        <div class="col-2 col-form-label">
          <label for="name" class="">Name*</label>
        </div>
        <div class="col-5">
            <span [ngClass]="{
              'input-error': addProductForm.controls.name.invalid && (addProductForm.controls.name.touched || addProductForm.controls.name.dirty)
          }">
          <input type="text" class="form-control form-control-sm"
            placeholder="Enter your product name" id="name" formControlName="name">
            </span>
            <div *ngIf="addProductForm.controls.name.invalid && (addProductForm.controls.name.touched || addProductForm.controls.name.dirty)">
                <span *ngIf="addProductForm.controls.name.errors?.required" class="text-danger">Please enter your product name</span>
            </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-2 col-form-label">
          <label for="sellPrice" class="">Sell Price
          </label>
        </div>
        <div class="col-5">
          <input type="text" class="form-control form-control-sm"
            placeholder="Enter your sell price" id="sellPrice">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-2 col-form-label">
          <label for="purchasePrice" class="">Purchase Price
          </label>
        </div>
        <div class="col-5">
          <input type="text" class="form-control form-control-sm"
            placeholder="Enter your purchase price" id="purchasePrice">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-2 col-form-label">
          <label for="hsnSAC" class="">HSN/SAC Code
          </label>
        </div>
        <div class="col-5">
          <input type="text" class="form-control form-control-sm"
            placeholder="Enter your HSN code" id="hsnSAC">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-2 col-form-label">
          <label for="unitOfMeasure" class="">Unit of Measurement
          </label>
        </div>
        <div class="col-5 col-form-label">
            <span [ngClass]="{
              'input-error': addProductForm.controls.unitOfMeasure.invalid && (addProductForm.controls.unitOfMeasure.touched || addProductForm.controls.unitOfMeasure.dirty)
          }">
          <select class="form-control form-control-sm" id="unitOfMeasure" formControlName="unitOfMeasure">
              <option value="">Select Unit</option>
            <option value="{{units}}" *ngFor="let units of measurementUnits">{{units}}</option>
          </select>
          </span>
          <div *ngIf="addProductForm.controls.unitOfMeasure.invalid && (addProductForm.controls.unitOfMeasure.touched || addProductForm.controls.unitOfMeasure.dirty)">
              <span *ngIf="addProductForm.controls.unitOfMeasure.errors?.required" class="text-danger">Unit of measurement is required</span>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-2 col-form-label">
          <label for="stockAvbl" class="">Stock Available
          </label>
        </div>
        <div class="col-5">
          <input type="text" class="form-control form-control-sm"
            placeholder="Enter your stock available" id="stockAvbl">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-2 col-form-label">
          <label for="cgst" class="">CGST %
          </label>
        </div>
        <div class="col-5">
          <input type="text" class="form-control form-control-sm"
            placeholder="Enter your CGST" id="cgst">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-2 col-form-label">
          <label for="sgst" class="">SGST %
          </label>
        </div>
        <div class="col-5">
          <input type="text" class="form-control form-control-sm"
            placeholder="Enter your SGST" id="sgst">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-2 col-form-label">
          <label for="igst" class="">IGST %
          </label>
        </div>
        <div class="col-5">
          <input type="text" class="form-control form-control-sm"
            placeholder="Enter your IGST" id="igst">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-2 col-form-label">
          <label for="cess" class="">CESS %
          </label>
        </div>
        <div class="col-5">
          <input type="text" class="form-control form-control-sm"
            placeholder="Enter your CESS" id="cess">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-2 col-form-label">
          <label for="cessAmount" class="">CESS Amount
          </label>
        </div>
        <div class="col-5">
          <input type="text" class="form-control form-control-sm"
            placeholder="Enter your CESS amount" id="cessAmount">
        </div>
      </div>

      <div class="btnContainer">
        <app-button [btnText]="'Save'" (click)="onSubmitAddProductForm(addProductForm)" [btnIcon]="'save'" [btnClass]="'btn
          btn-primary'"></app-button>
        <app-button [btnText]="'Back'" (click)="backToProductBase()"
          [btnIcon]="'chevron-left'"
          [btnClass]="'btn-secondary'"></app-button>
      </div>
    </form>

  </div>
</div>
