.invoice-form {
    border: 1px solid #D5D5D5;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.invoice-form-content {
    padding: 0% 2% 2% 2%;
}
.btnAlignment {
    padding: 0% 3%;
}