.invoice-form {
    border: 1px solid #D5D5D5;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.invoice-form-content {
    padding: 0% 2%;
}
.form-begins {
    border: 1px solid #D5D5D5;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0% 3%;
    font-size: 13px;
}
.lineHeight {
    line-height: 33px;
}
.invoiceDetail {
    padding: 3% 4%;
    font-size: 13px;
    border: 1px solid #D5D5D5;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}