<app-gst-widget-header [iconName]="'search'" [headingContent]="'Search Transport'"></app-gst-widget-header>
<div class="search-transport">
  <div class="widget-content">
    <div class="control-group-search">
        <label class="control-label">Search By Transport Name :</label>
        <input type="text" class="placeHolderWidth" placeholder="Enter your search transport name">
    </div>
    <div class="buttonAlign">
      <app-button [btnText]="'Search'" [btnIcon]="'search'" [btnClass]="'btn btn-primary'"></app-button>
    </div>
    <div class="buttonAlign">
        <app-button [btnText]="'Show All Data'" [btnIcon]="'list-alt'" [btnClass]="'btn btn-primary'"></app-button>
      </div>
  </div>
</div>