<div class="add-new-comp">
  <div class="google-ads">

  </div>
  <div class="widget-header">
    <app-gst-widget-header [iconName]="'pencil'" [headingContent]="'Add Customer/ Vendor'"></app-gst-widget-header>
  </div>
  <div class="widget-content">
    <form [formGroup]="addCustomerVendorForm" (ngSubmit)="onSubmitedaddCustomerVendorForm(addCustomerVendorForm)">

      <div class="form-group row">
        <div class="col-2 col-form-label">
          <label for="customerVendorName" class="">Customer / Vendor Name *</label>
        </div>
        <div class="col-5">
            <span [ngClass]="{
              'input-error': addCustomerVendorForm.controls.customerVendorName.invalid && (addCustomerVendorForm.controls.customerVendorName.touched || addCustomerVendorForm.controls.customerVendorName.dirty)
          }">
          <input type="text" class="form-control form-control-sm" formControlName="customerVendorName" placeholder="Enter your customer / vendor name" id="customerVendorName">
          </span>
          <div *ngIf="addCustomerVendorForm.controls.customerVendorName.invalid && (addCustomerVendorForm.controls.customerVendorName.touched || addCustomerVendorForm.controls.customerVendorName.dirty)">
              <span *ngIf="addCustomerVendorForm.controls.customerVendorName.errors?.required" class="text-danger">Customer/Vendor name is required</span>
              <span *ngIf="addCustomerVendorForm.controls.customerVendorName.errors?.pattern" class="text-danger">Please enter
                  valid Customer/Vendor name</span>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-2 col-form-label">
          <label for="contactPerson" class="">Contact Person</label>
        </div>
        <div class="col-5">
          <input type="text" class="form-control form-control-sm" placeholder="Enter your contact person" id="contactPerson">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-2 col-form-label">
          <label for="contactNo" class="">Contact No</label>
        </div>
        <div class="col-5">
          <input type="text" class="form-control form-control-sm" placeholder="Enter your contact no" id="contactNo">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-2 col-form-label">
          <label for="address" class="">Address</label>
        </div>
        <div class="col-5">
          <input type="text" class="form-control form-control-sm" placeholder="Enter your address1" id="address1">
          <input type="text" class="form-control form-control-sm mt-2" placeholder="Enter your address2" id="address2">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-2 col-form-label">
          <label for="landMark" class="">LandMark</label>
        </div>
        <div class="col-5">
          <input type="text" class="form-control form-control-sm" placeholder="Enter your landMark" id="landMark">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-2 col-form-label">
          <label for="country" class="">Country *</label>
        </div>
        <div class="col-5 col-form-label">
          <select class="form-control form-control-sm" id="country">
            <option value="">Select Country</option>
            <option value="country" *ngFor="let country of countries" [selected]="country == 'India'">{{country}}</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-2 col-form-label">
          <label for="state" class="">State *</label>
        </div>
        <div class="col-5 col-form-label">
            <span [ngClass]="{
              'input-error': addCustomerVendorForm.controls.state.invalid && (addCustomerVendorForm.controls.state.touched || addCustomerVendorForm.controls.state.dirty)
          }">
          <select class="form-control form-control-sm" formControlName="state" id="state">
              <option value="">Select State</option>
              <option value="state" *ngFor="let state of states">{{state}}</option>
            </select>
          </span>
          
          <div *ngIf="addCustomerVendorForm.controls.state.invalid && (addCustomerVendorForm.controls.state.touched || addCustomerVendorForm.controls.state.dirty)">
              <span *ngIf="addCustomerVendorForm.controls.state.errors?.required" class="text-danger">State is required</span>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-2 col-form-label">
          <label for="city" class="">City</label>
        </div>
        <div class="col-5 col-form-label">
          <input type="text" class="form-control form-control-sm" placeholder="Enter your city" id="city">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-2 col-form-label">
          <label for="companyType" class="">Company Type</label>
        </div>
        <div class="col-5 col-form-label">
          <select class="form-control form-control-sm" id="companyType">
            <option value="customer" *ngFor="let customer of customers">{{customer}}</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-2 col-form-label">
          <label for="pinCode" class="">Pincode</label>
        </div>
        <div class="col-5">
          <input type="text" class="form-control form-control-sm" placeholder="Enter your pincode" id="pinCode">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-2 col-form-label">
          <label for="faxNo" class="">Fax No</label>
        </div>
        <div class="col-5">
          <input type="text" class="form-control form-control-sm" placeholder="Enter your Fax no" id="faxNo">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-2 col-form-label">
          <label for="website" class="">Website</label>
        </div>
        <div class="col-5">
          <input type="text" class="form-control form-control-sm" placeholder="www.ifoxsolutions.com" id="website">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-2 col-form-label">
          <label for="eMail" class="">Email</label>
        </div>
        <div class="col-5">
          <input type="email" class="form-control form-control-sm" placeholder="emailaddress@domain.com" id="eMail">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-2 col-form-label">
          <label for="gstinPan" class="">GSTIN / PAN</label>
        </div>
        <div class="col-5">
          <input type="text" class="form-control form-control-sm" placeholder="Enter your GSTIN / PAN" id="gstinPan">
        </div>
      </div>
      <div class="btnContainer">
        <app-button [btnText]="'Save'" (click)="onSubmitedaddCustomerVendorForm(addCustomerVendorForm)" [btnIcon]="'save'" [btnClass]="'btn
          btn-primary'"></app-button>
        <app-button [btnText]="'Back'" (click)="backToCustomer()" [btnIcon]="'chevron-left'" [btnClass]="'btn-secondary'"></app-button>
      </div>
    </form>

  </div>
</div>