<div class="row m-0 text-center subheading subheading-wrap">
    <div class="col-2"> Bank Name </div>
    <div class="col-1"> Bank IFSC </div>
    <div class="col-2"> Account No </div>
    <div class="col-2"> Branch Name </div>
    <div class="col-3"> Terms & Condition </div>
    <div class="col-1"> Logo </div>
    <div class="col-1"> Action </div>
  </div>
  <div class="row m-0 mb-4 text-center content-wrap">
    <div class="col-2"> Bank Name </div>
    <div class="col-1"> Bank IFSC </div>
    <div class="col-2"> Account No </div>
    <div class="col-2"> Branch Name </div>
    <div class="col-3"> Terms & Condition </div>
    <div class="col-1"> Logo </div>
    <div class="col-1">
      <!-- <button type="button" class="btn" (click)="editInvoice()">
          <i class="btn-icon-only fa fa-edit"> </i>
          Edit
      </button> -->
      <app-button [btnText]="'Edit'" [btnIcon]="'edit'"  (click)="editInvoice()" [btnClass]="'btn btn-secondary'"></app-button>
    </div>
  </div>