<div>
  <form class="creditNoteDetail">
    <div class="row">
      <div class="form-group col-12 col-md-6">
        <div class="row">
          <div class="col-12 col-md-4 col-form-label">
            <label for="creditNoteNo" class="">Credit Note No.</label>
          </div>
          <div class="col-12 col-md-8">
            <input type="text" class="form-control form-control-sm" placeholder="" value="1" id="creditNoteNo">
          </div>
        </div>
      </div>
      <div class="form-group col-12 col-md-6">
        <div class="row">
          <div class="col-12 col-md-4 col-form-label">
            <label for="creditNoteDate" class="">Credit Note Date</label>
          </div>
          <div class="col-12 col-md-8">
            <input class="datepicker" data-date-format="mm/dd/yy" placeholder="dd/mm/yy" id="creditNoteDate">
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-12 col-md-6">
        <div class="row">
          <div class="col-12 col-md-4 col-form-label">
            <label for="againstInvNo" class="">Against Invoice No.</label>
          </div>
          <div class="col-12 col-md-8">
            <input type="text" class="form-control form-control-sm" placeholder="Against Invoice No" id="againstInvNo">
          </div>
        </div>
      </div>
      <div class="form-group col-12 col-md-6">
        <div class="row">
          <div class="col-12 col-md-4 col-form-label">
            <label for="againstInvDate" class="">Against Invoice Date</label>
          </div>
          <div class="col-12 col-md-8">
            <input class="datepicker" disabled data-date-format="mm/dd/yy" placeholder="dd/mm/yy" id="againstInvDate">
          </div>
        </div>
      </div>
    </div>

  </form>
</div>