<div class="mt-4">
    <div>
      <app-gst-widget-header [iconName]="'th-list'" [headingContent]="'Invoice Detail'"></app-gst-widget-header>
    </div>
    <form class="invoiceDetail">

      <div class="row">
        <div class="form-group col-12 col-md-6">
          <div class="row">
            <div class="col-12 col-md-4 col-form-label">
              <label for="invoiceType" class="">Invoice Type</label>
            </div>
            <div class="col-12 col-md-8">
              <select class="form-control form-control-sm">
                <option></option>
              </select>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="form-group col-12 col-md-6">
          <div class="row">
            <div class="col-12 col-md-4 col-form-label">
              <label for="invoiceNo" class="">Invoice No.</label>
            </div>
            <div class="col-12 col-md-8">
              <input type="text" class="form-control form-control-sm" value="1">
            </div>
          </div>
        </div>
        <div class="form-group col-12 col-md-6">
          <div class="row">
            <div class="col-12 col-md-4 col-form-label">
              <label for="date" class="">Date</label>
            </div>
            <div class="col-12 col-md-8">
              <input class="datepicker" data-date-format="mm/dd/yy">
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-12 col-md-6">
          <div class="row">
            <div class="col-12 col-md-4 col-form-label">
              <label for="challanNo" class="">Challan No.</label>
            </div>
            <div class="col-12 col-md-8">
              <input type="text" class="form-control form-control-sm" placeholder="Challan No">
            </div>
          </div>
        </div>
        <div class="form-group col-12 col-md-6">
          <div class="row">
            <div class="col-12 col-md-4 col-form-label">
              <label for="date" class="">Date</label>
            </div>
            <div class="col-12 col-md-8">
              <input class="datepicker" data-date-format="mm/dd/yy" placeholder="dd/mm/yy">
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-12 col-md-6">
          <div class="row">
            <div class="col-12 col-md-4 col-form-label">
              <label for="poNo" class="">P.O. No.</label>
            </div>
            <div class="col-12 col-md-8">
              <input type="text" class="form-control form-control-sm" placeholder="P.O. No.">
            </div>
          </div>
        </div>
        <div class="form-group col-12 col-md-6">
          <div class="row">
            <div class="col-12 col-md-4 col-form-label">
              <label for="date" class="">Date</label>
            </div>
            <div class="col-12 col-md-8">
              <input class="datepicker" data-date-format="mm/dd/yy" placeholder="dd/mm/yy">
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-12 col-md-6">
          <div class="row">
            <div class="col-12 col-md-4 col-form-label">
              <label for="lrNo" class="">L.R. No.</label>
            </div>
            <div class="col-12 col-md-8">
              <input type="text" class="form-control form-control-sm" placeholder="L.R. No.">
            </div>
          </div>
        </div>
      </div>
      <div class="customerInfo text-right">
        <app-button [btnText]="'Add New Transport'" [btnIcon]="'plus'" [btnClass]="'btn btn-primary mb-4 mt-4'"></app-button>
      </div>
      <div class="form-group row">
        <div class="col-2 col-form-label">
          <label for="dispatchThrough" class="">DISPATCH THROUGH</label>
        </div>
        <div class="col-10">
          <input type="text" class="form-control form-control-sm" placeholder="Enter transport name">
        </div>
      </div>

      <div class="row">
          <div class="form-group col-12 col-md-6">
            <div class="row">
              <div class="col-12 col-md-4 col-form-label">
                <label for="transID" class="">TRANS. ID</label>
              </div>
              <div class="col-12 col-md-8">
                <input type="text" disabled class="form-control form-control-sm" placeholder="Transport ID">
              </div>
            </div>
          </div>
          <div class="form-group col-12 col-md-6">
            <div class="row">
              <div class="col-12 col-md-4 col-form-label">
                <label for="vehicleNo" class="">VEHICLE NO.</label>
              </div>
              <div class="col-12 col-md-8">
                <input class="text" disabled class="form-control form-control-sm" placeholder="Vehicle No">
              </div>
            </div>
          </div>
        </div>

    </form>
  </div>