.purchaseInvoiceDetail {
    padding: 3% 3%;
    font-size: 13px;
    // font: 13px/1.7em 'Open Sans';
    border: 1px solid #D5D5D5;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.form-group {
    margin-bottom: 0px !important;
}
.datepicker {
    width: 100%;
}