<div class="mt-4">
    <div>
      <app-gst-widget-header [iconName]="'th-list'" [headingContent]="'Purchase Invoice Detail'"></app-gst-widget-header>
    </div>
    <form class="purchaseInvoiceDetail">
      <div class="row">
        <div class="form-group col-12 col-md-6">
          <div class="row">
            <div class="col-12 col-md-4 col-form-label">
              <label for="invoiceNo" class="">Invoice No.</label>
            </div>
            <div class="col-12 col-md-8">
              <input type="text" class="form-control form-control-sm" placeholder="Invoice No.">
            </div>
          </div>
        </div>
        <div class="form-group col-12 col-md-6">
          <div class="row">
            <div class="col-12 col-md-4 col-form-label">
              <label for="date" class="">Date</label>
            </div>
            <div class="col-12 col-md-8">
              <input class="datepicker" data-date-format="mm/dd/yy">
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-12 col-md-6">
          <div class="row">
            <div class="col-12 col-md-4 col-form-label">
              <label for="challanNo" class="">Challan No.</label>
            </div>
            <div class="col-12 col-md-8">
              <input type="text" class="form-control form-control-sm" placeholder="Challan No">
            </div>
          </div>
        </div>
        <div class="form-group col-12 col-md-6">
          <div class="row">
            <div class="col-12 col-md-4 col-form-label">
              <label for="date" class="">Date</label>
            </div>
            <div class="col-12 col-md-8">
              <input class="datepicker" data-date-format="mm/dd/yy" placeholder="dd/mm/yy">
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-12 col-md-6">
          <div class="row">
            <div class="col-12 col-md-4 col-form-label">
              <label for="poNo" class="">P.O. No.</label>
            </div>
            <div class="col-12 col-md-8">
              <input type="text" class="form-control form-control-sm" placeholder="P.O. No.">
            </div>
          </div>
        </div>
        <div class="form-group col-12 col-md-6">
          <div class="row">
            <div class="col-12 col-md-4 col-form-label">
              <label for="date" class="">Date</label>
            </div>
            <div class="col-12 col-md-8">
              <input class="datepicker" data-date-format="mm/dd/yy" placeholder="dd/mm/yy">
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-12 col-md-6">
          <div class="row">
            <div class="col-12 col-md-4 col-form-label">
              <label for="lrNo" class="">L.R. No.</label>
            </div>
            <div class="col-12 col-md-8">
              <input type="text" class="form-control form-control-sm" placeholder="L.R. No.">
            </div>
          </div>
        </div>
      </div>
      <div class="customerInfo text-right">
        <app-button [btnText]="'Add New Transport'" [modalId]="'addNewTransModal'" [btnIcon]="'plus'" [btnClass]="'btn btn-primary mb-4 mt-4'"></app-button>
      </div>
      <app-modal [modalId]="'addNewTransModal'" [heading]="'Add Transport'" [size]="'md'">
        <app-add-new-trans-purchase-invoice></app-add-new-trans-purchase-invoice>
      </app-modal>

      <div class="form-group row">
        <div class="col-4 col-form-label">
          <label for="dispatchThrough" class="">DISPATCH THROUGH</label>
        </div>
        <div class="col-8">
          <input type="text" class="form-control form-control-sm" placeholder="Enter transport name">
        </div>
      </div>

      <div class="row">
          <div class="form-group col-12 col-md-6">
            <div class="row">
              <div class="col-12 col-md-4 col-form-label">
                <label for="transID" class="">TRANS. ID</label>
              </div>
              <div class="col-12 col-md-8">
                <input type="text" disabled class="form-control form-control-sm" placeholder="Transport ID">
              </div>
            </div>
          </div>
          <div class="form-group col-12 col-md-6">
            <div class="row">
              <div class="col-12 col-md-4 col-form-label">
                <label for="vehicleNo" class="">VEHICLE NO.</label>
              </div>
              <div class="col-12 col-md-8">
                <input class="text" disabled class="form-control form-control-sm" placeholder="Vehicle No">
              </div>
            </div>
          </div>
        </div>

    </form>
  </div>
