$xs-screen: 320px;
$sm-screen: 480px;
$md-screen: 768px;
$lg-screen: 992px;
$xl-screen: 1200px;

.widget-heading {
    position: relative;
    height: 40px;
    line-height: 40px;
    border: 1px solid #d6d6d6;
    background: linear-gradient(#f9f6f1 0%, #f2efea 100%);
    h3 {
        display: inline-block;
        font-size: 14px;
        color: #525252;
        line-height: 18px;
        }
    .fa {
        margin-left: 15px;
        }
    }
