.widget-content {
    padding: 20px 15px 15px;
    border: 1px solid #D5D5D5;
    border-top: none;
    border-radius: 0 0 5px 5px;
}
.widget-btn{
    display: flex;
    align-items: flex-end;
    height: 100%;
}