<div class="add-new-pack-delivery-challan">
        
  <div class="widget-content">
    <form>

      <div class="form-group row">
        <div class="col-4 col-form-label">
          <label for="name" class="">Name *</label>
        </div>
        <div class="col-8">
          <input type="text" class="form-control form-control-sm"
            placeholder="Enter your purchase name">
        </div>
      </div>

      <div class="form-group row">
              <div class="col-4 col-form-label">
                <label for="price" class="">Price</label>
              </div>
              <div class="col-8">
                <input type="text" class="form-control form-control-sm"
                  placeholder="Enter price">
              </div>
            </div>

      <div class="form-group row">
        <div class="col-4 col-form-label">
          <label for="hsnCode" class="">HSN/SAC Code</label>
        </div>
        <div class="col-8">
          <input type="text" class="form-control form-control-sm"
            placeholder="Enter your HSN code">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-4 col-form-label">
          <label for="firstname" class="">CGST %
          </label>
        </div>
        <div class="col-8">
          <input type="text" class="form-control form-control-sm"
            placeholder="Enter cgst">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-4 col-form-label">
          <label for="firstname" class="">SGST %
          </label>
        </div>
        <div class="col-8">
          <input type="text" class="form-control form-control-sm"
            placeholder="Enter sgst">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-4 col-form-label">
          <label for="firstname" class="">IGST %
          </label>
        </div>
        <div class="col-8">
          <input type="text" class="form-control form-control-sm"
            placeholder="Enter igst">
        </div>
      </div>
      
      <div class="btnContainer">
        <app-button [btnText]="'Save'" [btnIcon]="'save'" [btnClass]="'btn
          btn-primary'"></app-button>
        <app-button [btnText]="'Close'" (click)="backToProductBase()"
          [btnIcon]="'close'"
          [btnClass]="'btn-secondary'"></app-button>
      </div>
    </form>

  </div>
</div>