.sales-invoice-due {
    border: 1px solid #d6d6d6;
}
.contentArea {
    font-size: 13px;
    padding: 8px;
    border: 1px solid #d6d6d6;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}