<div class="add-new-pack-charges-purchase-invoice">
        
  <div class="widget-content">
    <form [formGroup]="addNewChargeForm" (ngSubmit)="onSubmitChargeForm(addNewChargeForm)">

      <div class="form-group row">
        <div class="col-4 col-form-label">
          <label for="transChargeName" class="">Name *</label>
        </div>
        <div class="col-8">
            <span [ngClass]="{
              'input-error': addNewChargeForm.controls.transChargeName.invalid && (addNewChargeForm.controls.transChargeName.touched || addNewChargeForm.controls.transChargeName.dirty)
          }">
          <input type="text" class="form-control form-control-sm"
            placeholder="Enter your purchase name" id="transChargeName" formControlName="transChargeName">
            </span>
            <div *ngIf="addNewChargeForm.controls.transChargeName.invalid && (addNewChargeForm.controls.transChargeName.touched || addNewChargeForm.controls.transChargeName.dirty)">
                <span *ngIf="addNewChargeForm.controls.transChargeName.errors?.required" class="text-danger">Please enter transport charge name
                  </span>
              </div>
        </div>
      </div>

      <div class="form-group row">
              <div class="col-4 col-form-label">
                <label for="price" class="">Price</label>
              </div>
              <div class="col-8">
                <input type="text" class="form-control form-control-sm"
                  placeholder="Enter price" id="price">
              </div>
            </div>

      <div class="form-group row">
        <div class="col-4 col-form-label">
          <label for="hsnCode" class="">HSN/SAC Code</label>
        </div>
        <div class="col-8">
          <input type="text" class="form-control form-control-sm"
            placeholder="Enter your HSN code" id="hsnCode">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-4 col-form-label">
          <label for="cgst" class="">CGST %
          </label>
        </div>
        <div class="col-8">
          <input type="text" class="form-control form-control-sm"
            placeholder="Enter cgst" id="cgst">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-4 col-form-label">
          <label for="sgst" class="">SGST %
          </label>
        </div>
        <div class="col-8">
          <input type="text" class="form-control form-control-sm"
            placeholder="Enter sgst" id="sgst">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-4 col-form-label">
          <label for="igst" class="">IGST %
          </label>
        </div>
        <div class="col-8">
          <input type="text" class="form-control form-control-sm"
            placeholder="Enter igst" id="igst">
        </div>
      </div>
      
      <div class="btnContainer">
        <app-button [btnText]="'Save'" (click)="onSubmitChargeForm(addNewChargeForm)" [btnIcon]="'save'" [btnClass]="'btn
          btn-primary'"></app-button>
        <app-button [btnText]="'Close'" (click)="backToProductBase()"
          [btnIcon]="'close'"
          [btnClass]="'btn-secondary'"></app-button>
      </div>
    </form>

  </div>
</div>