<div class="row m-0 text-center subheading subheading-wrap">
    <div class="col-2">Your Company Name</div>
    <div class="col-1">Pancard</div>
    <div class="col-2">GST No</div>
    <div class="col-3">Address</div>
    <div class="col-1 text-left">Pincode</div>
    <div class="col-1 text-left">State</div>
    <div class="col-1 text-left">City</div>
    <div class="col-1 text-left">Action</div>
  </div>
  <div class="row m-0 mb-4 text-center content-wrap">
    <div class="col-2"> GNK Trading </div>
    <div class="col-1"> AABNC4406H </div>
    <div class="col-2"> 07AABNC4406H1ZS </div>
    <div class="col-3"> 25/30, BabaJi Complex </div>
    <div class="col-1"> 110030 </div>
    <div class="col-1"> Delhi </div>
    <div class="col-1"> Delhi </div>
    <div class="col-1">
      <button type='button' class="btn" (click)="editOrgDetails()">
        <i class="btn-icon-only fa fa-edit"> </i>
        Edit
      </button>
    </div>
  </div>