<app-gst-widget-header [iconName]="'search'" [headingContent]="'Search Delivery Challan'"></app-gst-widget-header>
<form class="formBegins">
    <div class="row formContent">
      <div class="col-2 form-group">
        <label for="searchCompany">Search By Company :</label>
        <div>
          <select class="form-control form-control-sm" id="searchCompany">
            <option value="">Search Company</option>
          </select>
        </div>
      </div>

      <div class="col-2 form-group">
        <label for="selectByStartdate">Search By Start Date :</label>
        <div>
          <input type="date" class="Datepicker form-control form-control-sm" placeholder="Search by start Date" id="selectByStartdate">
        </div>
      </div>

      <div class="col-2 form-group">
        <label for="searchByenddate">Search By End Date :</label>
        <div>
          <input type="date" class="Datepicker form-control form-control-sm" placeholder="Search by end Date" id="searchByenddate">
        </div>
      </div>

      <div class="col-2 form-group">
        <label for="searchByChallanNo">Search By Challan No :</label>
        <div>
          <input type="text" class="form-control form-control-sm" placeholder="Search by Challan No" id="searchByChallanNo">
        </div>
      </div>

      <div class="col-2 form-group">
          <label for="searchByTotal">Search By Total :</label>
          <div>
            <input type="text" class="form-control form-control-sm" placeholder="Search by Total" id="searchByTotal">
          </div>
        </div>

      <div class="col-1 text-center align-self-end">
          <app-button [btnText]="'Search'" [btnIcon]="'search'" [btnClass]="'btn btn-primary'"></app-button>
        </div>
        <div class="col-1 text-center align-self-end">
            <app-button [btnText]="'Show All Data'" [btnIcon]="'list-alt'" [btnClass]="'btn btn-primary'"></app-button>
          </div>
    </div>
  </form>