<header>
    <app-gst-widget-header [headingContent]="'Exports'" [iconName]="'th-list'"></app-gst-widget-header>
    <div class="">
        <div class="row m-0 subheading subheading-wrap">
            <div class="col-10">NAME</div>
            <div class="col-2 text-center">ACTION</div>
        </div>
    </div>
</header>

<section class="contentContainer">
    <div class="row m-0">
        <div class="col-10 exportsNameText">All Customers Details</div>
        <div class="col-2">
            <div class="btn-contain">
                <app-button [btnText]="'Export Customers'" [btnClass]="'btn btn-primary btn-align'"></app-button>
            </div>
        </div>
    </div>
    <div class="row m-0">
        <div class="col-10 exportsNameText">All Products Details</div>
        <div class="col-2">
            <div class="btn-contain">
                <app-button [btnText]="'Export Products'" [btnClass]="'btn btn-primary btn-align'"></app-button>
            </div>
        </div>
    </div>
    <div class="row m-0">
        <div class="col-10 exportsNameText">All Transport Details</div>
        <div class="col-2">
            <div class="btn-contain">
                <app-button [btnText]="'Export Transport'" [btnClass]="'btn btn-primary btn-align'"></app-button>
            </div>
        </div>
    </div>
    <div class="row m-0">
        <div class="col-10 exportsNameText">
            Sale Invoice
            <br> <br>
            <div>
                <label for="inputSaleInvDateFrom"> Date From: </label>
                <input type="date" id="inputSaleInvDateFrom">
                <label for="DateTo" id="inputSaleInvDateTo"> Date To: </label>
                <input type="date" id="inputSaleInvDateTo">
            </div>
            <div>
                <input type="checkbox">
                <label for="">Include Item Details</label>
            </div>

        </div>
        <div class="col-2">
            <div class="btn-contain">
                <app-button [btnText]="'Export Sale Invoice'" [btnClass]="'btn btn-primary btn-align'"></app-button>
            </div>
        </div>
    </div>
    <div class="row m-0">
        <div class="col-10 exportsNameText">
            Purchase Invoice
            <br><br>
            <div>
                <label for="inputPurchaseInvDateFrom"> Date From: </label>
                <input type="date" id="inputPurchaseInvDateFrom">
                <label for="DateTo" id="inputPurchaseInvDateTo"> Date To: </label>
                <input type="date" id="inputPurchaseInvDateTo">
            </div>
            <div>
                <input type="checkbox">
                <label for="">Include Item Details</label>
            </div>

        </div>
        <div class="col-2">
            <div class="btn-contain">
                <app-button [btnText]="'Export Purchase Invoice'" [btnClass]="'btn btn-primary btn-align'"></app-button>
            </div>
        </div>
    </div>
    <div class="row m-0">
        <div class="col-10 exportsNameText">
            Delivery Challan
            <div>
                <label for="inputDelChallanDateFrom"> Date From: </label>
                <input type="date" id="inputDelChallanDateFrom">
                <label for="DateTo" id="inputDelChallanDateTo"> Date To: </label>
                <input type="date" id="inputDelChallanDateTo">
            </div>
        </div>
        <div class="col-2">
            <div class="btn-contain">
                <app-button [btnText]="'Export Delivery Challan'" [btnClass]="'btn btn-primary btn-align'"></app-button>
            </div>
        </div>
    </div>
    <div class="row m-0">
        <div class="col-10 exportsNameText">
            Quotation
            <br><br>
            <div>
                <label for="inputQuotationDateFrom"> Date From: </label>
                <input type="date" id="inputQuotationDateFrom">
                <label for="DateTo" id="inputQuotationDateTo"> Date To: </label>
                <input type="date" id="inputQuotationDateTo">
            </div>
        </div>
        <div class="col-2">
            <div class="btn-contain">
                <app-button [btnText]="'Export Quotation Invoice'" [btnClass]="'btn btn-primary btn-align'"></app-button>
            </div>
        </div>
    </div>
    <div class="row m-0">
        <div class="col-10 exportsNameText">
            Proforma Invoice
            <br> <br>
            <div>
                <label for="inputProformaInvFrom"> Date From: </label>
                <input type="date" id="inputProformaInvDateFrom">
                <label for="DateTo" id="inputProformaInvDateTo"> Date To: </label>
                <input type="date" id="inputProformaInvDateTo">
            </div>
        </div>
        <div class="col-2">
            <div class="btn-contain">
                <app-button [btnText]="'Export Proforma Invoice'" [btnClass]="'btn btn-primary btn-align'"></app-button>
            </div>
        </div>
    </div>
    <div class="row m-0">
        <div class="col-10 exportsNameText">
            Purchase Order
            <br><br>
            <div>
                <label for="inputPurchaseOrderFrom"> Date From: </label>
                <input type="date" id="inputPurchaseOrderDateFrom">
                <label for="DateTo" id="inputPurchaseOrderDateTo"> Date To: </label>
                <input type="date" id="inputPurchaseOrderDateTo">
            </div>
        </div>
        <div class="col-2">
            <div class="btn-contain">
                <app-button [btnText]="'Export Purchase Order'" [btnClass]="'btn btn-primary btn-align'"></app-button>
            </div>
        </div>
    </div>
    <div class="row m-0">
        <div class="col-10 exportsNameText">
            Daily Expense
            <br><br>
            <div>
                <label for="inputDailyExpFrom"> Date From: </label>
                <input type="date" id="inputDailyExpDateFrom">
                <label for="DateTo" id="inputDailyExpDateTo"> Date To: </label>
                <input type="date" id="inputDailyExpDateTo">
            </div>
        </div>
        <div class="col-2">
            <div class="btn-contain">
                <app-button [btnText]="'Export Daily Expense'" [btnClass]="'btn btn-primary btn-align'"></app-button>
            </div>
        </div>
    </div>
    <div class="row m-0">
        <div class="col-10 exportsNameText">
            Credit Note
            <br><br>
            <div>
                <label for="inputCreditNoteFrom"> Date From: </label>
                <input type="date" id="inputCreditNoteDateFrom">
                <label for="DateTo" id="inputCreditNoteDateTo"> Date To: </label>
                <input type="date" id="inputCreditNoteDateTo">
            </div>
        </div>
        <div class="col-2">
            <div class="btn-contain">
                <app-button [btnText]="'Export Credit Note'" [btnClass]="'btn btn-primary btn-align'"></app-button>
            </div>
        </div>
    </div>
    <div class="row m-0">
        <div class="col-10 exportsNameText">
            Debit Note
            <br><br>
            <div>
                <label for="inputDebitNoteFrom"> Date From: </label>
                <input type="date" id="inputDebitNoteDateFrom">
                <label for="DateTo" id="inputDebitNoteDateTo"> Date To: </label>
                <input type="date" id="inputDebitNoteDateTo">
            </div>
        </div>
        <div class="col-2">
            <div class="btn-contain">
                <app-button [btnText]="'Export Debit Note'" [btnClass]="'btn btn-primary btn-align'"></app-button>
            </div>
        </div>
    </div>


</section>