$xs-screen: 320px;
$sm-screen: 480px;
$md-screen: 768px;
$lg-screen: 992px;
$xl-screen: 1200px;

.invoice-summary {
    border: 1px solid #d6d6d6;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px
}
.widget-content-rightBorder {
    border-right: 1px solid #CCC;
}
.value {
    font-size: 45px;
    line-height: 1em;
}
.contentFont {
    line-height: 27px;
    font-size: 18px;
}
.fa {
    line-height: 40px;
    color:#b2afaa;
    font-size: 30px;
    &:hover {
        color:#00ba8b;
    }
}