<div class="purchase-invoice-form">
  <app-gst-widget-header [iconName]="'pencil'" [headingContent]="'PURCHASE INVOICE'"></app-gst-widget-header>
  <div class="row purchase-invoice-form-content">
    <div class="col-12 col-md-5">
      <app-vendor-information></app-vendor-information>
    </div>
    <div class="col-12 col-md-7 purchase-invoice-detail">
      <app-purchase-invoice-detail></app-purchase-invoice-detail>
    </div>
    <div class="mt-4 col-12 app-product-items">
      <app-gst-widget-header [iconName]="'th-list'" [headingContent]="'Product Items'"></app-gst-widget-header>
      <div class="productItemsBorder">
        <div class="row btnAlignment">
          <app-button [btnText]="'Add New Product'" [modalId]="'addNewProPurchaseModal'" [btnIcon]="'plus'" [btnClass]="'btn btn-primary mb-4 mt-4'"></app-button>
          <app-button [btnText]="'Add New Transport/Packaging Charges'" [modalId]="'addNewPackageChargeModal'"
            [btnIcon]="'plus'" [btnClass]="'btn btn-primary mb-4 mt-4 ml-2'"></app-button>
        </div>
        <div>
        </div>
        <app-product-items></app-product-items>
      </div>
    </div>
  </div>

  <app-modal [modalId]="'addNewProPurchaseModal'" [heading]="'Add Product'" [size]="'md'">
    <app-add-new-prod-purchase-invoice></app-add-new-prod-purchase-invoice>
  </app-modal>

  <app-modal [modalId]="'addNewPackageChargeModal'" [heading]="'Add Transport Charges'" [size]="'md'">
    <app-add-new-pack-charges-purchase-invoice></app-add-new-pack-charges-purchase-invoice>
  </app-modal>