<div>
  <form class="formAlignment">
    <div class="form-group row">
      <div class="col-3 col-form-label">
        <label for="firstname" class="">Customer / Vendor Name *</label>
      </div>
      <div class="col-5">
        <input type="text" class="form-control form-control-sm" placeholder="Enter your customer / vendor name">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-3 col-form-label">
        <label for="firstname" class="">Contact Person</label>
      </div>
      <div class="col-5">
        <input type="text" class="form-control form-control-sm" placeholder="Enter your contact person">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-3 col-form-label">
        <label for="firstname" class="">Contact No</label>
      </div>
      <div class="col-5">
        <input type="text" class="form-control form-control-sm" placeholder="Enter your contact no">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-3 col-form-label">
        <label for="firstname" class="">Address</label>
      </div>
      <div class="col-5">
        <input type="text" class="form-control form-control-sm" placeholder="Enter your address1">
        <input type="text" class="form-control form-control-sm" placeholder="Enter your address2">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-3 col-form-label">
        <label for="firstname" class="">LandMark</label>
      </div>
      <div class="col-5">
        <input type="text" class="form-control form-control-sm" placeholder="Enter your landMark">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-3 col-form-label">
        <label for="firstname" class="">Country *</label>
      </div>
      <div class="col-5 col-form-label">
        <select class="form-control form-control-sm">
          <option value="">Select Country</option>
          <option value="country" *ngFor="let country of countries" [selected]="country == 'India'">{{country}}</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-3 col-form-label">
        <label for="firstname" class="">State *</label>
      </div>
      <div class="col-5 col-form-label">
        <select class="form-control form-control-sm">
          <option value="">Select State</option>
          <option value="state" *ngFor="let state of states">{{state}}</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-3 col-form-label">
        <label for="firstname" class="">City</label>
      </div>
      <div class="col-5 col-form-label">
        <input type="text" class="form-control form-control-sm" placeholder="Enter city">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-3 col-form-label">
        <label for="firstname" class="">Company Type</label>
      </div>
      <div class="col-5 col-form-label">
        <select class="form-control form-control-sm">
          <!-- <option value="default"></option> -->
          <option value="customer" *ngFor="let customer of customers">{{customer}}</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-3 col-form-label">
        <label for="firstname" class="">Pincode</label>
      </div>
      <div class="col-5">
        <input type="text" class="form-control form-control-sm" placeholder="Enter pincode">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-3 col-form-label">
        <label for="firstname" class="">Fax No</label>
      </div>
      <div class="col-5">
        <input type="text" class="form-control form-control-sm" placeholder="Enter Fax no">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-3 col-form-label">
        <label for="firstname" class="">Website</label>
      </div>
      <div class="col-5">
        <input type="text" class="form-control form-control-sm" placeholder="www.ifoxsolutions.com">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-3 col-form-label">
        <label for="firstname" class="">Email</label>
      </div>
      <div class="col-5">
        <input type="email" class="form-control form-control-sm" placeholder="emailaddress@domain.com">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-3 col-form-label">
        <label for="firstname" class="">GSTIN / PAN</label>
      </div>
      <div class="col-5">
        <input type="text" class="form-control form-control-sm" placeholder="Enter your GSTIN / PAN">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-3 col-form-label">
        <label for="firstname" class="">Distance for e-way bill (in km)</label>
      </div>
      <div class="col-5">
        <input type="text" class="form-control form-control-sm" placeholder="Enter Distance for e-way bill (in km)">
      </div>
    </div>
    <hr>
    <div>
      <h4>Additional Shipping Address <i class="fa fa-caret-down" aria-hidden="true"></i></h4>
    </div>
    <hr>

    <div class="form-group row">
        <div class="col-3 col-form-label">
          <label for="shipName" class="">SHIP. Name</label>
        </div>
        <div class="col-5">
          <input type="text" class="form-control form-control-sm" placeholder="Enter shipping Name">
        </div>
      </div>

      <div class="form-group row">
          <div class="col-3 col-form-label">
            <label for="shipPhone" class="">SHIP. Phone</label>
          </div>
          <div class="col-5">
            <input type="text" class="form-control form-control-sm" placeholder="Enter shipping phone No">
          </div>
        </div>

        <div class="form-group row">
            <div class="col-3 col-form-label">
              <label for="shipAddress" class="">SHIP. Address</label>
            </div>
            <div class="col-5">
              <textarea placeholder="Enter shipping address" class="form-control form-control-sm"></textarea>
            </div>
          </div>

          <div class="form-group row">
              <div class="col-3 col-form-label">
                <label for="shipState" class="">SHIP. State</label>
              </div>
              <div class="col-5 col-form-label">
                <select class="form-control form-control-sm">
                  <option value="">Select State</option>
                  <option value="state" *ngFor="let state of states">{{state}}</option>
                </select>
              </div>
            </div>

            <div class="form-group row">
                <div class="col-3 col-form-label">
                  <label for="shipCountry" class="">SHIP. Country</label>
                </div>
                <div class="col-5 col-form-label">
                    India
                </div>
              </div>

              <div class="form-group row">
                  <div class="col-3 col-form-label">
                    <label for="shipGSTIN" class="">SHIP. GSTIN / PAN</label>
                  </div>
                  <div class="col-5">
                    <input type="text" class="form-control form-control-sm" placeholder="Enter shipping GSTIN / PAN">
                  </div>
                </div>

    <div class="btnContainer">
      <app-button [btnText]="'Save'" [btnIcon]="'save'" [btnClass]="'btn btn-primary'"></app-button>
    </div>
  </form>
</div>