<app-gst-widget-header [iconName]="'th-list'" [headingContent]="'Purchase Invoice Due'"></app-gst-widget-header>
<!-- <div class="purchase-invoice-due mt-4"> -->
    <div class="row m-0 subheading subheading-wrap">
        <div class="col-2">INVOICE NO.</div>
        <div class="col-2">COMPANY NAME</div>
        <div class="col-2">NAME</div>
        <div class="col-2">PHONE</div>
        <div class="col-2">DUE DATE</div>
        <div class="col-2">PAYMENT</div>
      </div>

      <div class="contentArea">
          No Due Invoice Found!
      </div>

<!-- </div> -->
