<div class="main">
  <app-gst-widget-header [iconName]="'search'" [headingContent]="'Search
    Product'"></app-gst-widget-header>
  <div class="search-transport-charges mb-4">
    <div class="widget-content">
      <div class="control-group-search">
        <label class="control-label">Search By Product Name :</label>
        <input type="text" class="placeHolderWidth form-control-sm" placeholder="Enter search transport charges name">
      </div>
      <div class="control-group-search selectStockAlign">
        <label class="control-label">Search By Stock :</label>
        <div class="form-label">
          <select class="form-control-sm">
            <option>---Select Stock---</option>
            <option value="{{stock}}" *ngFor="let stock of stocksList">{{stock}}</option>
          </select>
        </div>
      </div>
      <div class="buttonAlign">
        <app-button [btnText]="'Search'" [btnIcon]="'search'" [btnClass]="'btn
          btn-primary'"></app-button>
      </div>
      <div class="buttonAlign">
        <app-button [btnText]="'Show All Data'" [btnIcon]="'list-alt'"
          [btnClass]="'btn btn-primary'"></app-button>
      </div>
    </div>
  </div>

  <app-widget-header-with-btn [iconName]="'th-list'"
    [contentHeading]="'Manage Stock'">
    <app-button [btnText]="'Save'" (click)="addTransportCharges()"
      [btnIcon]="'save'" [btnClass]="'btn btn-primary btn-align'"></app-button>
  </app-widget-header-with-btn>

  <div class="transport-list mb-4">
    <div class="row m-0 subheading subheading-wrap">
      <div class="col-3">NAME</div>
      <div class="col-3">SELLPRICE</div>
      <div class="col-2">HSN CODE</div>
      <div class="col-2">CURRENT STOCK</div>
      <div class="col-2">NEW STOCK</div>
    </div>
  </div>

  <div>
    <div class="row m-0 subheading subheading-wrap">
      <div class="customer-wrap col-12 text-left">
        <app-button [btnText]="'Save'" [btnIcon]="'save'" [btnClass]="'btn
          btn-primary btn-align'"></app-button>
        <app-button [btnText]="'Back'" (click)="backToProducts()"
          [btnIcon]="'chevron-left'" [btnClass]="'btn
          btn-secondary btn-align'"></app-button>
      </div>
    </div>
  </div>

</div>