.widget-content {
    padding: 20px 15px 15px;
    background: #FFF;
    border: 1px solid #D5D5D5;
    border-top: none;
}
label {
    display: block;
    font-size: 13px;
    line-height: 1.7em;
}
.placeHolderWidth {
    width: 260px;
    font-size: 13px;
}
.control-group-search {
    display: inline-block;
}
.buttonAlign {
    display: inline-block;
    padding: 0 10px;
}
.selectStockAlign {
    margin-left: 15px;
}
