<nav>
  <ul>
    <li (click)="onClick()" routerLinkActive="active">
      <a href="javascript:void(0)" [routerLink]="['b2b']"> B2B</a>
    </li>
    <li routerLinkActive="active">
      <a href="javascript:void(0)" [routerLink]="['b2cl']"> B2CL</a>
    </li>
    <li routerLinkActive="active">
      <a href="javascript:void(0)" [routerLink]="['b2cs']"> B2CS</a>
    </li>
    <li routerLinkActive="active">
      <a href="javascript:void(0)" [routerLink]="['cdnr']"> CDNR</a>
    </li>
    <li routerLinkActive="active">
      <a href="javascript:void(0)" [routerLink]="['cdnur']"> CDNUR</a>
    </li>
    <li routerLinkActive="active">
      <a href="javascript:void(0)" [routerLink]="['exp']"> EXP</a>
    </li>
    <li routerLinkActive="active">
      <a href="javascript:void(0)" [routerLink]="['at']"> AT</a>
    </li>
    <li routerLinkActive="active">
      <a href="javascript:void(0)" [routerLink]="['atadj']"> ATADJ</a>
    </li>
    <li routerLinkActive="active">
      <a href="javascript:void(0)" [routerLink]="['exemp']"> EXEMP</a>
    </li>
    <li routerLinkActive="active">
      <a href="javascript:void(0)" [routerLink]="['hsn']"> HSN</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
