<app-widget-header-with-btn [iconName]="'th-list'" [contentHeading]="'Daily Expense List'">
    <app-button [btnText]="'Add New'" (click)="addNewDailyExpense()" [btnIcon]="'plus'" [btnClass]="'btn btn-primary btn-align'"></app-button>
  </app-widget-header-with-btn>

<div class="purchase-invoice-list">
<div class="row m-0 subheading subheading-wrap text-center">
<div class="checkbox col-1 text-center">
  <input type="checkbox">
</div>
<div class="col-1">EXPENSE TITLE</div>
<div class="col-2">EXPENSE AMOUNT</div>
<div class="col-3">EXPENSE CATEGORY</div>
<div class="col-1">EXPENSE DATE</div>
<div class="col-2">EXPENSE TYPE</div>
<div class="col-1">DESCRIPTION</div>
<div class="col-1">ACTION</div>
</div>
</div>

