.formBegins {
    border: 1px solid #D5D5D5;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 13px;
}
.form label {
    font-size: 13px;
}
.formContent {
    padding: 20px 15px 15px;
    padding-bottom: 0px !important;
}
.form-content {
    padding: 20px 15px 15px;
    padding-top: 0px !important;
}