<app-gst-widget-header [iconName]="'search'" [headingContent]="'Search Payment Receipt'"></app-gst-widget-header>

<form class="formBegins">
  <div class="row formContent">
    <div class="col-3 form-group">
      <label for="searchByCompanyName">Search By Company Name :</label>
      <div>
        <select class="form-control form-control-sm" id="searchByCompanyName">
          <option value="">--Select Company--</option>
        </select>
      </div>
    </div>

    <div class="col-2 form-group">
      <label for="searchByStartDate">Search By Start Date :</label>
      <div>
        <input type="date" class="Datepicker form-control form-control-sm" placeholder="Search by start Date" id="searchByStartDate">
      </div>
    </div>

    <div class="col-2 form-group">
      <label for="searchByEndDate">Search By End Date :</label>
      <div>
        <input type="date" class="Datepicker form-control form-control-sm" placeholder="Search by end Date" id="searchByEndDate">
      </div>
    </div>

    <div class="col-1 text-center align-self-center">
      <app-button [btnText]="'Search'" [btnIcon]="'search'" [btnClass]="'btn btn-primary'"></app-button>
    </div>
    <div class="col-1 text-center align-self-center">
        <app-button [btnText]="'Show All Data'" [btnIcon]="'list-alt'" [btnClass]="'btn btn-primary'"></app-button>
      </div>
  </div>
</form>
