.addNewDeliveryBase {
    border: 1px solid #d6d6d6;
    border-top: none;
}
.sub-container {
    border: 1px solid #d6d6d6;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}