<div class="transport-list">
    <div class="row m-0 subheading subheading-wrap">
        <div class="checkbox col-1 text-center">
          <input type="checkbox">
        </div>
        <div class="col-3">TRANSPORT NAME</div>
        <div class="col-3">TRANSPORT ID</div>
        <div class="col-3">VEHICLE NO</div>
        <div class="col-2">ACTION</div>
  </div>
</div>

<div>
  <div class="row m-0 content-wrap">
      <div class="checkbox col-1 text-center">
          <input type="checkbox">
        </div>
        <div class="col-3">Hand Delivery</div>
        <div class="col-3"></div>
        <div class="col-3"></div>
        <div class="col-2">
            <app-button [btnText]="'Edit'" [btnIcon]="'edit'" (click)="editTransportList()" [btnClass]="'btn btn-secondary'"></app-button>
          </div>
</div>