.plan-title-grey {
    padding: 10px 0;
    font-size: 16px;
    color: #FFF;
    border-bottom: 1px solid #FFF;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background-color: #686868;
}
.plan-price-grey {
    padding: 20px 0 10px;
    font-size: 66px;
    line-height: 0.8em;
    background-color: #797979;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
}
.fontSizing{
    font: 13px/1.7em 'Open Sans';
}
.modalOfferContent {
    // border-bottom: 1px solid #CCC;
    font: 13px/1.7em 'Open Sans';
    margin: 0 30px;
}
.modalBorder {
    border: 1px solid #CCC;
}
.plan-title-green {
    padding: 10px 0;
    font-size: 16px;
    color: #FFF;
    border-bottom: 1px solid #FFF;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background-color:#00ba8b;
}
.plan-price-green {
        padding: 20px 0 10px;
        font-size: 66px;
        line-height: 0.8em;
        background-color: #00ba8b;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        color: white;
}
.btn-upgrade-now {
    border: 1px solid #DDD;
    border-top: none;
    background-color:whiteSmoke;
}