<div class="add-new-trans-purchase-invoice">
  <div class="widget-content">
    <form [formGroup]="addnewTransportForm" (ngSubmit)="onSubmitTransportForm(addnewTransportForm)">

      <div class="form-group row">
        <div class="col-4 col-form-label">
          <label for="transportName" class="">Transport Name</label>
        </div>
        <div class="col-8">
            <span [ngClass]="{
              'input-error': addnewTransportForm.controls.transportName.invalid && (addnewTransportForm.controls.transportName.touched || addnewTransportForm.controls.transportName.dirty)
          }">
          <input type="text" class="form-control form-control-sm"
            placeholder="Enter your transport name" id="transportName" formControlName="transportName">
            </span>
            <div *ngIf="addnewTransportForm.controls.transportName.invalid && (addnewTransportForm.controls.transportName.touched || addnewTransportForm.controls.transportName.dirty)">
                <span *ngIf="addnewTransportForm.controls.transportName.errors?.required" class="text-danger">Please enter your transport name
                  </span>
            </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-4 col-form-label">
          <label for="transID" class="">Transport ID</label>
        </div>
        <div class="col-8">
          <input type="text" class="form-control form-control-sm"
            placeholder="Enter your transport id" id="transID">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-4 col-form-label">
          <label for="vehicleNo" class="">Vehicle No</label>
        </div>
        <div class="col-8">
          <input type="text" class="form-control form-control-sm"
            placeholder="Enter your vehicle no" id="vehicleNo">
        </div>
      </div>

      <div class="btnContainer">
        <app-button [btnText]="'Save'" (click)="onSubmitTransportForm(addnewTransportForm)" [btnIcon]="'save'" [btnClass]="'btn btn-primary'"></app-button>
        <app-button [btnText]="'Back'" [btnIcon]="'close'" [btnClass]="'btn-secondary'"></app-button>
      </div>
    </form>

  </div>
</div>
