<div class="row m-0 text-center subheading subheading-wrap">
    <div class="col-2">User Id</div>
    <div class="col-2">User Name</div>
    <div class="col-2"> Phone </div>
    <div class="col-3"> Email </div>
    <div class="col-2"> Password </div>
    <div class="col-1">Action</div>
  </div>
  <div class="row m-0 mb-4 text-center content-wrap">
      <div class="col-2"> niketgoel34 </div>
      <div class="col-2"> Niket Goel </div>
      <div class="col-2"> 9811532425  </div>
      <div class="col-3"> niket03@gmail.com </div>
      <div class="col-2"> ******** </div>
      <div class="col-1">
        <!-- <button type="button" class="btn" (click)="editUser()">
            <i class="btn-icon-only fa fa-edit"> </i>
            Edit
        </button> -->
        <app-button [btnText]="'Edit'" [btnIcon]="'edit'"  (click)="editUser()" [btnClass]="'btn btn-secondary'"></app-button>
      </div>
  </div>