<div class="settings">
    <div class="google-ads">

    </div>

    <div class="mb-4">
        <app-search-customer-vendor></app-search-customer-vendor>
    </div>

    <div class="mb-4">
        <app-widget-header-with-btn [iconName]="'th-list'" [contentHeading]="'Search Customer / Vendor'" >
            <app-button [btnText]="'Add New'" (click)="addNewCustomer()"
                [btnIcon]="'plus'" [btnClass]="'btn btn-primary btn-align'"></app-button>
            <app-button [btnText]="'Import Customers'" [btnIcon]="'download'"
                [btnClass]="'btn btn-primary btn-align'" [showModal]="true"></app-button>
        </app-widget-header-with-btn>
        <app-customer-vendor-list></app-customer-vendor-list>
    </div>

    <div>
        <div class="row m-0 subheading subheading-wrap">
            <div class="customer-wrap col-12 text-left">
                <app-button [btnText]="'Delete'" [btnIcon]="'trash-o'"
                    [btnClass]="'btn btn-secondary btn-align'"></app-button>
                <app-button [btnText]="'Add New'" (click)="addNewCustomer()"
                    [btnIcon]="'plus'" [btnClass]="'btn btn-primary btn-align'"></app-button>
                <app-button [btnText]="'Import Customers'"
                    [btnIcon]="'download'" [btnClass]="'btn btn-primary
                    btn-align'"
                    [showModal]="true"></app-button>
            </div>

            <app-modal>
                <app-import-customers></app-import-customers>
            </app-modal>

        </div>