<div class="row m-0">
    <div class="col-6 p-0">
        <!-- <app-gst-widget-header [iconName]="'th-list'" [rightBorder]="false" [headingContent]="'Search Customer / Vendor'"></app-gst-widget-header> -->
        <div class="gst-widget-container">
            <div class="widget-heading">
              <i class="fa fa-th-list"></i>
              <h3>Search Customer / Vendor</h3>
            </div>
        </div>
    </div>
    <div class="col-6 p-0 text-right customer-wrap">
        <app-button [btnText]="'Add New'" [btnIcon]="'plus'" [btnClass]="'btn btn-primary btn-align'"></app-button>
        <app-button [btnText]="'Import Customers'" [btnIcon]="'download'" [btnClass]="'btn btn-primary btn-align'"></app-button>
    </div>
  </div>