<div class="row m-0">
    <div class="col-6 p-0">
        <!-- <app-gst-widget-header [iconName]="'th-list'" [rightBorder]="false" [headingContent]="'Search Customer / Vendor'"></app-gst-widget-header> -->
        <div class="gst-widget-container">
            <div class="widget-heading">
                <i class="fa fa-th-list"></i>
                <h3>Search Customer / Vendor</h3>
            </div>
        </div>
    </div>
    <div class="col-6 p-0 text-right customer-wrap">
        <ng-content></ng-content>
    </div>
</div>