/* You can add global styles to this file, and also import other style files */
.nav-item-image {
    width: 15px;
    height: 15px;
    background: rgb(106, 173, 194);
    display: inline-block;
}


.subheading {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
    color: #444;
    background: linear-gradient(#FAFAFA 0%, #E9E9E9 100%);
}

.subheading-wrap, .content-wrap  {
    > div {
        padding: 12px;
        border-left: 1px solid #d6d6d6;
        border-bottom: 1px solid #d6d6d6;
        &:last-child {
            border-right: 1px solid #d6d6d6;
        }
    }
}

.content-wrap {
    font-size: 14px;
    >div {
        &:first-child {
            border-bottom-left-radius: 5px;
        }
        &:last-child {
            border-bottom-right-radius: 5px;
        }
    }
    
}

.btn {
    box-shadow: inset 0px 1px 0px #ffffff1a, 0px 1px 2px #0000001a;
    background: #f6f4f485;
    padding: 2px 12px;
    border: 1px solid #0000001a;
    &:active {
        background: #e0dfdf;
    }
}