
<app-gst-widget-header [iconName]="'th-list'" [headingContent]="'Membership Details'"></app-gst-widget-header>
<membership-details></membership-details>

<app-gst-widget-header [iconName]="'th-list'" [headingContent]="'Organisation Details'"></app-gst-widget-header>
<organisation-details></organisation-details>

<app-gst-widget-header [iconName]="'th-list'" [headingContent]="'User Details'"></app-gst-widget-header>
<user-details></user-details>

<app-gst-widget-header [iconName]="'th-list'" [headingContent]="'Invoice Options'"></app-gst-widget-header>
<invoice-options></invoice-options>

<app-gst-widget-header [iconName]="'th-list'" [headingContent]="'Inventory Options'"></app-gst-widget-header>
<inventory-options></inventory-options>