<app-google-ads></app-google-ads>
<app-gst-widget-container [iconName]="'th-list'" [headingContent]="'Membership Details'"></app-gst-widget-container>
<membership-details></membership-details>

<app-gst-widget-container [iconName]="'th-list'" [headingContent]="'Organisation Details'"></app-gst-widget-container>
<organisation-details></organisation-details>

<app-gst-widget-container [iconName]="'th-list'" [headingContent]="'User Details'"></app-gst-widget-container>
<user-details></user-details>

<app-gst-widget-container [iconName]="'th-list'" [headingContent]="'Invoice Options'"></app-gst-widget-container>
<invoice-options></invoice-options>

<app-gst-widget-container [iconName]="'th-list'" [headingContent]="'Inventory Options'"></app-gst-widget-container>
<inventory-options></inventory-options>