$xs-screen: 320px;
$sm-screen: 480px;
$md-screen: 768px;
$lg-screen: 992px;
$xl-screen: 1200px;

.account-summary {
    border: 1px solid #d6d6d6;
}
.widget-content-rightBorder {
    border-right: 1px solid #CCC;
}
.value {
    font-size: 45px;
    line-height: 1em;
}
.contentFont {
    line-height: 27px;
    font-size: 18px;
}
.nav-item-image {
    line-height: 40px;
}


