<app-gst-widget-header [iconName]="'search'" [headingContent]="'Search Invoice
  Bill'"></app-gst-widget-header>
<div class="row">
  <div class="form-group">
    <label class="form-label">Search By Company :</label>
    <div>
      <select class="form-control form-control-sm">
        <option value="">Search Company</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label class="form-label form-control-sm">Search By Product :</label>
    <div>
      <select class="">
        <option value="">Search Product</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="form-label form-control-sm">Search By Start Date :</label>
    <div>
      <input type="text" class="Datepicker" placeholder="Search by start Date">
    </div>
  </div>
  <div class="form-group">
    <label class="form-label form-control-sm">Search By End Date :</label>
    <div>
      <input type="text" class="Datepicker" placeholder="Search by end Date">
    </div>
  </div>
  <div class="form-group">
    <label class="form-label form-control-sm">Search By Invoice No :</label>
    <div>
      <input type="text" class="" placeholder="Search by invoive no.">
    </div>
  </div>
  <div class="form-group">
    <label class="form-label form-control-sm">Search By Total :</label>
    <div>
      <input type="text" class="" placeholder="Search by total">
    </div>
  </div>
</div>
