<div class="nav-container">
  <nav class="navbar navbar-expand-md navbar-light bg-white p-0">
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav text-center custom-nav-property ">
        <li class="nav-item" routerLinkActive="active-link">
          <a class="nav-link" href="javascript:void(0)" routerLink="{{ROUTES.dashboard.absoluteRoute}}" >
            <i class="fa fa-dashboard"></i>
            <div class="nav-item-title"><strong>Dashboard</strong></div>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active-link">
          <a class="nav-link" href="javascript:void(0)" routerLink="{{ROUTES.settings.absoluteRoute}}">
            <i class="fa fa-cog"></i>
            <div class="nav-item-title"><strong>Settings</strong></div>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active-link">
          <a class="nav-link" href="javascript:void(0)" routerLink="{{ROUTES.customers.absoluteRoute}}">
            <i class="fa fa-users"></i>
            <div class="nav-item-title"><strong>Customers</strong></div>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active-link">
          <a class="nav-link" href="javascript:void(0)">
            <i class="fa fa-truck"></i>
            <div class="nav-item-title"><strong>Transport</strong></div>
          </a>
          <!-- submenu -->
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="javascript:void(0)" routerLink="{{ROUTES.transport.absoluteRoute}}">Transport</a></li>
            <li><a class="dropdown-item" href="javascript:void(0)" routerLink="{{ROUTES.transport.children.transportCharges.absoluteRoute}}">Transport
                Charges</a></li>
          </ul>
          <!-- dropdown ends here -->
        </li>
        <li class="nav-item" routerLinkActive="active-link">
          <a class="nav-link" href="javascript:void(0)">
            <i class="fa fa-cubes"></i>
            <div class="nav-item-title"><strong>Products</strong></div>
          </a>
          <!-- submenu -->
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="javascript:void(0)" routerLink="{{ROUTES.products.absoluteRoute}}">Products</a></li>
            <li><a class="dropdown-item" href="javascript:void(0)" routerLink="{{ROUTES.products.children.stock.absoluteRoute}}">Stock</a></li>
          </ul>
          <!-- dropdown ends here -->
        </li>
        <li class="nav-item" routerLinkActive="active-link">
          <a class="nav-link" href="javascript:void(0)" routerLink="{{ROUTES.saleInvoice.absoluteRoute}}">
            <i class="fa fa-print"></i>
            <div class="nav-item-title"><strong>Sale Invoice</strong></div>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active-link">
          <a class="nav-link" href="javascript:void(0)" routerLink="{{ROUTES.purchaseInvoice.absoluteRoute}}">
            <i class="fa fa-print"></i>
            <div class="nav-item-title"><strong>Purchace Invoice</strong></div>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active-link">
          <a class="nav-link" href="javascript:void(0)" routerLink="{{ROUTES.dailyExpense.absoluteRoute}}">
            <i class="fa fa-tasks"></i>
            <div class="nav-item-title"><strong>Daily Expense</strong></div>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active-link">
            <a class="nav-link" href="javascript:void(0)">
              <i class="fa fa-paste"></i>
              <div class="nav-item-title"><strong>Other Documents</strong></div>
            </a> 
            <!-- submenu -->
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="javascript:void(0)" routerLink="{{ROUTES.otherDocs.absoluteRoute}}">Delivery Challan</a></li>
              <li><a class="dropdown-item" href="javascript:void(0)" routerLink="{{ROUTES.otherDocs.children.quotation.absoluteRoute}}">Quotation</a></li>
              <li><a class="dropdown-item" href="javascript:void(0)" routerLink="{{ROUTES.otherDocs.children.proformaInvoice.absoluteRoute}}">Proforma Invoice</a></li>
              <li><a class="dropdown-item" href="javascript:void(0)" routerLink="{{ROUTES.otherDocs.children.purchaseOrder.absoluteRoute}}">Purchase Order</a></li>
              <li><a class="dropdown-item" href="javascript:void(0)" routerLink="{{ROUTES.otherDocs.children.creditNote.absoluteRoute}}">Credit Note</a></li>
              <li><a class="dropdown-item" href="javascript:void(0)" routerLink="{{ROUTES.otherDocs.children.debitNote.absoluteRoute}}">Debit Note</a></li>
            </ul>
            <!-- dropdown ends here -->
        </li>
        <li class="nav-item" routerLinkActive="active-link">
            <a class="nav-link" href="javascript:void(0)" routerLink="{{ROUTES.exports.absoluteRoute}}">
              <i class="fa fa-upload"></i>
              <div class="nav-item-title"><strong>Exports</strong></div>
            </a>
        </li>
        <li class="nav-item submenu" routerLinkActive="active-link">
            <a class="nav-link" href="javascript:void(0)">
              <i class="fa fa-refresh"></i>
              <div class="nav-item-title"><strong>GST</strong></div>
            </a>
            <!-- submenu -->
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="javascript:void(0)" routerLink="{{ROUTES.gstReturn.absoluteRoute}}">GSTR-1</a></li>
            </ul>
            <!-- dropdown ends here -->
        </li>
        <li class="nav-item" routerLinkActive="active-link">
            <a class="nav-link" href="javascript:void(0)" routerLink="{{ROUTES.paymentReceipt.absoluteRoute}}">
              <i class="fa fa-money"></i>
              <div class="nav-item-title"><strong>Payment Receipt</strong></div>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="javascript:void(0)" routerLink="{{ROUTES.paymentReceipt.children.inwardPaymentReceipt.absoluteRoute}}">Inward Payment (Sales Inv.)</a></li>
              <li><a class="dropdown-item" href="javascript:void(0)" routerLink="{{ROUTES.paymentReceipt.children.outwardPaymentReceipt.absoluteRoute}}">Outward Payment (Sales Inv.)</a></li>
            </ul>
        </li>
        <li class="nav-item" routerLinkActive="active-link">
            <a class="nav-link" href="javascript:void(0)">
              <i class="fa fa-newspaper-o "></i>
              <div class="nav-item-title"><strong>Report</strong></div>
            </a>
            <!-- submenu -->
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="javascript:void(0)" routerLink="{{ROUTES.report.absoluteRoute}}">Sales</a></li>
              <li><a class="dropdown-item" href="javascript:void(0)" routerLink="{{ROUTES.report.children.purchase.absoluteRoute}}">Purchase</a></li>
              <li><a class="dropdown-item" href="javascript:void(0)" routerLink="{{ROUTES.report.children.inwardPayment.absoluteRoute}}">Inward Payment</a></li>
              <li><a class="dropdown-item" href="javascript:void(0)" routerLink="{{ROUTES.report.children.outwardPayment.absoluteRoute}}">Outward Payment</a></li>
              <li><a class="dropdown-item" href="javascript:void(0)" routerLink="{{ROUTES.report.children.companyLedger.absoluteRoute}}">Company Ledger</a></li>
              <li><a class="dropdown-item" href="javascript:void(0)" routerLink="{{ROUTES.report.children.dailyExpense.absoluteRoute}}">Daily Expense</a></li>
              <li><a class="dropdown-item" href="javascript:void(0)" routerLink="{{ROUTES.report.children.salesProductReport.absoluteRoute}}">Sales Product Report</a></li>
              <li><a class="dropdown-item" href="javascript:void(0)" routerLink="{{ROUTES.report.children.purchaseProductReport.absoluteRoute}}">Purchase Product Report</a></li>
              <li><a class="dropdown-item" href="javascript:void(0)" routerLink="{{ROUTES.report.children.salesOutstandingReport.absoluteRoute}}">Sales Outstanding</a></li>
              <li><a class="dropdown-item" href="javascript:void(0)" routerLink="{{ROUTES.report.children.purchaseOutstandingReport.absoluteRoute}}">Purchase Outstanding</a></li>
            </ul>
            <!-- dropdown ends here -->
        </li>
      </ul>
    </div>
  </nav>
</div>