.navbar-nav {
    padding-left: 7%;
    padding-right: 7%;
    justify-content: space-between;
}
.navbar {
    border-bottom: 1px solid  #d6d6d6;
    border-top: 1px solid  #d6d6d6;
}

.nav-item-title {
    font-size: 12px;
    line-height: 1em;
    color: #b2afaa;
}
.nav-item {
    flex: 1;
    border-left: 1px solid  #d6d6d6;
    .dropdown-menu {
        margin: 0;
    }
    &:last-child{
        border-right: 1px solid #d6d6d6;
    }

    &:hover {
        .nav-item-title {
            color: #4d4c4b;
        }
        > ul {
            display: block;
        }
    }
}
 

.dropdown-menu {
    position: absolute;
    left: auto;
    font-size: 12px;
    border-radius: 6px;
}