<nav class="navbar row m-0 navbar-expand bg-white p-0">
  <ul class="navbar-nav col-12 text-center">
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard">
        <div class="nav-item-image"></div>
        <div class="nav-item-title"><strong>Dashboard</strong></div>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/somerout">
        <div class="nav-item-image"></div>
        <div class="nav-item-title"><strong>Settings</strong></div>
      </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
          <div class="nav-item-image"></div>
          <div class="nav-item-title"><strong>Customers</strong></div>
        </a>
    </li>
    <li class="nav-item">
          <a class="nav-link" href="#">
            <div class="nav-item-image"></div>
            <div class="nav-item-title"><strong>Transport</strong></div>
          </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
          <div class="nav-item-image"></div>
          <div class="nav-item-title"><strong>Products</strong></div>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
          <div class="nav-item-image"></div>
          <div class="nav-item-title"><strong>Sale Invoice</strong></div>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
          <div class="nav-item-image"></div>
          <div class="nav-item-title"><strong>Purchace Invoice</strong></div>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
          <div class="nav-item-image"></div>
          <div class="nav-item-title"><strong>Daily Expense</strong></div>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
          <div class="nav-item-image"></div>
          <div class="nav-item-title"><strong>Other Documents</strong></div>
        </a> 
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
          <div class="nav-item-image"></div>
          <div class="nav-item-title"><strong>Exports</strong></div>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
          <div class="nav-item-image"></div>
          <div class="nav-item-title"><strong>GST Return Filing</strong></div>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
          <div class="nav-item-image"></div>
          <div class="nav-item-title"><strong>Payment Receipt</strong></div>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
          <div class="nav-item-image"></div>
          <div class="nav-item-title"><strong>Report</strong></div>
        </a>
    </li>
  </ul>
</nav>

