$xs-screen: 575px;
$sm-screen: 767px;
$md-screen: 991px;
$lg-screen: 1199px;

.nav-container {
    padding: 0 7%;
    font-size: 12px;
    line-height: 1em;
    color: #b2afaa;
    border-bottom: 1px solid  #d6d6d6;
    border-top: 1px solid  #d6d6d6;
}

.fa {
    font-size: 20px;
}
.custom-nav-property{
    width: 100%;
    justify-content: space-between;
}

.nav-item {
    flex: 1;
    border-left: 1px solid  #d6d6d6;
    .dropdown-menu {
        margin: 0;
    }
    &:last-child{
        border-right: 1px solid #d6d6d6;
    }

    &:hover {
        .nav-item-title {
            color: #4d4c4b;
        }
        > ul {
            display: block;
        }
        .nav-link {
            color:#4d4c4b;
        }
    }
    .nav-link {
        color: #b2afaa;
    }
}
.dropdown-menu {
    position: absolute;
    left: auto;
    top: auto;
    font-size: 12px;
    border-radius: 6px;
}

@media only screen and (max-width: $sm-screen) {
    .custom-nav-property {
        flex-flow: row wrap;
        justify-content: center;
        li.nav-item {
            padding: 0 2%;
        }
    }
    .nav-item {
        border-left: none;
        .dropdown-menu {
            margin: 0;
        }
        &:last-child{
            border-right: none;
        }
    }
}